<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7"  lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html class=" js no-touch cssanimations csstransitions" content="text/html; charset=UTF-8" dir="ltr" lang="en" prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <link href="https://libraries.smith.edu/sites/default/files/smith.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <link href="https://libraries.smith.edu/" rel="canonical"/>
  <link href="https://libraries.smith.edu/" rel="shortlink"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <title>
   {% block title %}{% endblock %}
  </title>
  <meta content="width" name="MobileOptimized"/>
  <meta content="true" name="HandheldFriendly"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  </script>
  <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="https://libraries.smith.edu/sites/default/themes/smith_library/css/main-styles-ie.css">
    <link rel="stylesheet" type="text/css" href="https://libraries.smith.edu/sites/default/themes/smith_library/css/main-styles-ie-blessed1.css">
    <![endif]-->
  <link href="apple-touch-icon.png" rel="/apple-touch-icon"/>
  <link href="https://libraries.smith.edu/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="https://libraries.smith.edu/modules/system/system.base.css" rel="stylesheet" type="text/css"/>
  <link href="https://libraries.smith.edu/sites/libraries/themes/smith_library/css/main-styles.css" rel="stylesheet" type="text/css"/>

  <!-- App specific styling -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'uploads/style.css' %}">

 </head>
 <!--[if lt IE 7]>      <body class="lt-ie9 lt-ie8 lt-ie7 library-subsite front"> <![endif]-->
 <!--[if IE 7]>         <body class="lt-ie9 lt-ie8 library-subsite front"> <![endif]-->
 <!--[if IE 8]>         <body class="lt-ie9 library-subsite front"> <![endif]-->
 <!--[if IE 9]>         <body class="ie9 library-subsite front"> <![endif]-->
 <!--[if gt IE 9]><!-->
 <body class="library-subsite front html not-front not-logged-in no-sidebars page-node page-node- page-node-165661 node-type-panel section-page-not-found page-not-found">
  <!--<![endif]-->
  <!-- Google Tag Manager -->
  <noscript>
   <iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-TKHHFW" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <a class="skip-nav" href="#skipToContent" role="link" tabindex="0">
   Skip Navigation
  </a>
  <div class="main-container">
   <!-- main-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
   <div class="global-menu">
    <div class="container">
     <p>
      <a href="https://smith.edu">
       Visit Smith.edu
      </a>
     </p>
     <nav class="global-nav-container" role="navigation">
      <!-- global-nav-container starts -->
      <ul class="global-nav">
       <li class="menu__item is-leaf first leaf menu-mlid-6196">
        <a aria-controls="my-account-renew" aria-expanded="false" data-target="#my-account-renew" href="http://fcaw.library.umass.edu/F/?func=BOR-INFO" id="my-account-renew-menuitem" role="menuitem">
         My Account/Renew
        </a>
       </li>
       <li class="menu__item is-leaf last leaf menu-mlid-6197 give-smith">
        <a aria-controls="ask-us" aria-expanded="false" data-target="#ask-us" href="https://libraries.smith.edu/ask-us" id="ask-us-menuitem" role="menuitem">
         Ask Us!
        </a>
       </li>
      </ul>
      <!-- /global-nav-container ends -->
     </nav>
    </div>
   </div>
   <header class="header-container" id="header" role="banner">
    <!-- header-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <div class="container">
     <figure class="logo">
      <a href="https://libraries.smith.edu/">
       <img alt="Smith College Libraries" src="https://libraries.smith.edu/sites/default/themes/smith_library/ui/images/library-home-logo.png" title="Smith College Libraries" typeof="foaf:Image">
       <div class="visible-xs visible-sm mobile-logo">
        Smith College Libraries
       </div>
      </a>
     </figure>
    </div>
    <!-- header-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
   </header>
   <div class="dhtml-overlay">
   </div>
   <nav class="breadcrumb" role="navigation"><h2 class="element-invisible">You are here</h2><div class="container"><h2 class="element-invisible">You are here</h2><ol><li><a href="https://libraries.smith.edu/">Home</a></li><li><a href="https://libraries.smith.edu/services">Services</a></li><li><a href="https://libraries.smith.edu/services/borrow-renew-return">Borrow, Renew, Return</a></li><li><a href="https://libraries.smith.edu/services/borrow-renew-return/course-reserves">Course Reserves</a></li><li class="breadcrumbcurrent">
     E-Reserves
   </li></ol></div></nav>
   <div class="home-container tier-container" id="main" role="main">
    <!-- home-container starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    <div about="/page-not-found" class="node node-panel view-mode-full clearfix" id="node-165661" typeof="sioc:Item foaf:Document">
     <section class="content tier-content" id="skipToContent" role="region">
      <!-- home-content starts ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
      <!-- home-content ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
      <div class="container main-container">
       <div class="row">
        {% block main_content %}{% endblock %}
        <p class="text-center">
          Smith College Libraries &mdash; Neilson Library, 7 Neilson Drive, Northampton, MA 01063 &mdash; Phone: 413-585-2910
        </p>
       </div>
      </div>
     </section>
    </div>
    <!-- home-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
   </div>
   <!-- main-container ends   ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
  </div>
 </body>
</html>
