.btn-primary {
  background-color: #00526b;
  border-color: #007fa6;
}
.btn-primary:hover {
  background-color: #005e7a;
  border-color: #007fa6;
}
/* Error Pages */
.error-current-url {
  font-weight: bold;
  font-size: 115%;
}
.fine-print {
  font-size: 85%;
  font-style: italic;
}
@media screen and (max-width: 991px) {
  .error-page .cta-button-col {
    text-align: center;
  }
  .main-container {
    margin: auto 1em;
  }
}

/* Faculty inventory listing view */
table a {
  color: #333;
}
table td.type {
  white-space: nowrap;
}
div.pagination {
  display: block;
  margin-bottom: 2em;
  font-size: 16px;
}
#main a {
  text-decoration: underline;
}
.text-block {
  margin-bottom: 3em;
}
