/* Error Pages */
.error-current-url {
  font-weight: bold;
  font-size: 115%;
}
.fine-print {
  font-size: 85%;
  font-style: italic;
}
@media screen and (max-width: 991px) {
  .error-page .cta-button-col {
    text-align: center;
  }  
  .main-container {
    margin: auto 1em;
  }
}
