{% extends "base.html" %}
{% block title %}E-Reserves Hosted at Smith | Smith College Libraries{% endblock %}
{% block main_content %}
<h2>Electronic reserves materials hosted at Smith</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
</p>
<p>
  <a href="#">email@example.com</a><br/>
  <a href="#">413-555-xxxx</a><br />
</p>



<div class="table-responsive" >
<table border="0" cellpadding="0" cellspacing="0" class="table smith-table-style-alt">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        Reference Number
      </th>  
    </tr>
  </thead>
  <tbody>    
  {% for upload in uploads %}
    <tr>
      <td>{{ upload.title }}</td><td style="white-space: nowrap;">{% firstof upload.get_text_type_display upload.polymorphic_ctype|title %}</td><td>{{ upload.reference_number }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
