{% extends "base.html" %}
{% block title %}{{ title }} | Smith College Libraries{% endblock %}
{% block main_content %}
<h2>{{ title|safe }}</h2>

<div class="text-block">
{{ top_text_content|safe }}
</div>

{% if query %}
<h3>Search for &ldquo;{{ query }}&rdquo;</h3>
<p>{{ page_obj.paginator.count }} items found</p>
{% endif %}

<form>
  <label for="q">Search:</label>
  <input type="text" name="q" value="{{ query|default_if_none:'' }}"></input>
  <input type="submit"></input>
  <a href="{{ request.path }}">clear</a>
</form>

<div class="table-responsive" aria-label="Search results">
<table border="0" cellpadding="0" cellspacing="0" class="table smith-table-style-alt">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        Reference Number
      </th>
    </tr>
  </thead>
  <tbody>
  {% for upload in object_list %}
    <tr>
      <td>{{ upload.title }}</td><td class="type">{% firstof upload.get_text_type_display upload.polymorphic_ctype|title %}</td><td>{{ upload.reference_number }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?q={{ query|default_if_none:'' }}&page=1">&laquo; first</a>
            <a href="{{ request.path }}?q={{ query|default_if_none:'' }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="{{ request.path }}?q={{ query|default_if_none:'' }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="{{ request.path }}?q={{ query|default_if_none:'' }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
