<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <iframe src="https://smith.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{panopto_session_id}}&autoplay=false&offerviewer=false&showtitle=false&showbrand=false&start=0&interactivity=none" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" allowfullscreen allow="autoplay"></iframe>    
  </body>
</html>
